<div class="hero-unit">
	
	<img src="/assets/me.jpg">
	
	<p style="word-wrap: break-word;"> 
	
		Me llamo Manuel Alonso y soy programador . No me gusta UML ni los diseños técnicos .
		Odio los productos de IBM y toda su parafernalia comercial que les envuelve.
		Me definen como Analista Programador (o a veces Arquitecto para ganar más pasta ) ;pero mi meta es
		ser mejor programador cada día.
		Llevo más de 7 años en el mundo de la informática , sobretodo con Java J2EE; pero también me gusta Ruby y RoR.
		
		
	</p>
	<p>
	 	<%= link_to 'Curriculum »' ,'http://www.jobsket.es/cv/manute'%>
		|| 
	 	<%= link_to 'Resume »' ,'http://manute.emurse.com/'%>
	</p>
	<br/>
	<p>
		<%= link_to 'Volver »' , posts_path ,:class =>"btn btn-primary" %>
	</p>
</div>